In [1]:
# if running this is something like google colab first uncomment and run below to install latest version of netdata-pandas
#!pip install --upgrade netdata-pandas

In [2]:
from netdata_pandas.data_cloud import get_data_cloud, get_charts_cloud
import os
from dotenv import load_dotenv

load_dotenv()
NETDATA_API_TOKEN = os.getenv('NETDATA_API_TOKEN')

Lets pull some data from the Netdata Cloud demo space into a pandas dataframe.

In [3]:
# some params
space_id = 'ea93d7b8-0df6-45c0-b13d-1560996c89eb'
room_id = '9115ab73-317f-4a24-9233-f8d2993dbfc1'
context = 'system.cpu'
after = -60*10
before = 0

# get some charts from demo space
df = get_data_cloud(space_id, room_id, context, after, before)
print(df.shape)
df.head()

(19, 6)

                       iowait      nice   softirq  steal    system      user
time
2023-04-11 16:55:00  0.294934  3.416394  1.610915    0.0  4.292008  4.791405
2023-04-11 16:55:30  0.303385  3.189192  1.198634    0.0  3.900843  4.169943
2023-04-11 16:56:00  0.277659  3.117073  1.670266    0.0  5.106859  6.168019
2023-04-11 16:56:30  0.270681  3.052898  3.430823    0.0  8.119993  9.689719
2023-04-11 16:57:00  0.168470  2.679585  1.227890    0.0  3.884852  4.360964

In [5]:
# get the charts available in the demo space
charts = get_charts_cloud(space_id, room_id)
charts['system.cpu']

{'chartLabels': None,
 'chartType': 'stacked',
 'context': 'system.cpu',
 'family': 'cpu',
 'firstEntry': 1679565060,
 'lastEntry': 1681232725,
 'priority': 100,
 'title': 'Total CPU utilization',
 'units': 'percentage'}